/* global */

body {
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #420600 url('img/bg-texture.jpg') repeat;
}

a {
	color: #4FD69F;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* typography */

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2{
	font-size: 1.500em;
	color: #B4C34F;
}

.btn {
	color: #FAF3BC;
	background: #4FB69F;
	padding: 2.01342282% 4.02684564%; /* 15px 30px */
	margin: 5.36912752% 0px; /* 40px */
	border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background-color: #4CC4A7;
}

ul.nav {
	margin: 18.18181818% 0 0 0; /* 120px */
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px; /* 40px */
}

ul.nav li a {
	color: #FAF3BC;
}

#intro {
	margin: 6.7114094% 0 10.06711409% 0; /* 50px 0 75px 0 */
}

#new-cupcakes img {
	border: 8px solid #FAF3BC;
	margin: 0 0 4.9382716% 0; /* 0 0 20px 0 */
}

#featured-cupcake img {
	border: 8px solid #FAF3BC;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 1% 0px; /* 10px 0px */
	margin: 1.5% 0px; /* 15px 0px */
	text-align: center;
}

#my-pic img {
	border: 8px solid #FAF3BC
}

/* media queries */


/* iPhone ---------------*/
@media screen and (max-width: 480px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		max-width: 100%;
	}
}